@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for React Native Web full-screen height when using ReactDOM directly */
html,
body,
#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
    /* Match App background to avoid white flashes */
}